.home_body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #232323;
  margin: 2rem; /* Reducido el margen */
  background-color: #FBFCFC;
  max-width: 100%; /* Ancho máximo del contenedor */
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .40);
}

.home_container > img {
  border-radius: 50%;
  margin: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
}

.home_container > h1 {
  font-size: 2rem;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.home_container > h4 {
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.links_container {
  display: flex;
  flex-direction: row; /* Cambiado a columna para mejor responsividad */
  align-items: center; /* Centrado en dispositivos más pequeños */
  margin-top: 1rem; /* Añadido margen superior */
}

.links_container > a > img {
  width: 45px;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0); /* Cambiado a 0 para desactivar la sombra */
}

/* Estilo hover para los íconos en el contenedor de enlaces */
.links_container > a > img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
