/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Cambiado de 'center' a 'space-between' */
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

/* Estilos para los enlaces en el menú de navegación */
header > nav > a {
    color: #232323;
    margin: 0 15px; /* Reducido el margen horizontal */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 650;
}

header > nav > a:hover {
    content: attr(data-text);
    border-bottom: 1.5px solid black;
    color: #232328;
    white-space: nowrap;
    overflow: hidden;
    transition: .1s;
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; /* Cambiado de 'row' a 'column' */
        align-items: center;
        justify-content: center;
    }

    header > nav {
        margin-top: 10px; /* Añadido margen superior */
    }

    header > nav > a {
        margin: 10px 0; /* Añadido margen vertical y eliminado el horizontal */
    }
}
