.porfolio_container {
    display: flex;
    flex-direction: row;
  box-sizing: border-box;
  
  }
  
  .aboutMe_container {
    position: sticky;
    top: 0; 
    width: 60%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
    margin-top: 1rem;
    /* border: 2px solid red */
  }
  
  .aboutMe_container > h1 {
    font-size: 26px;
    line-height: 40px;
    margin: 24px 24px 0px;
    text-align: left;
    color: #eeafba;
    /* border: 2px solid red; */
  }
  
  .aboutMe_container > img {
    border-radius: 6px;
    width: 200px;
    max-width: 250px;
    height: auto;
    margin: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    /* border: 2px solid red; */
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .aboutMe_container > h4 {
    align-items: center;
    text-align: start;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-align: left;
    margin: 24px 24px 0px;
    /* border: 2px solid red; */
  }
  
  .aboutMe_content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto; /* Permite que el contenido se desplace si es necesario */
    height: 100%; /* Ocupa el 100% de la altura disponible */
    /* border: 2px solid red; */
  }

  .email_sender{
    font-size: 16px;
  }

  .email_sender:hover{
    color: #f09dab;
  }

  .phone{
    font-size:16px !important;
  }

  /* .phone:hover{
    color: #f09dab;
  } */

  .links_container {
    margin:0.5rem;
    display: flex;
    flex-direction: row; /* Cambiado a columna para mejor responsividad */
    align-items: center; /* Centrado en dispositivos más pequeños */
    margin-top: 1rem; /* Añadido margen superior */
  }
  
  .links_container > a > img {
    width: 45px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0); /* Cambiado a 0 para desactivar la sombra */
  }
  
  .text_container {
    margin: 1rem;
    color: aliceblue;
    padding: 10px;
    box-sizing: border-box;
  
  }
  
  .text_container > button {
    background: none;
    color: #f09dab;
    border: none;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.8px;
    font-size: 16px;
    transition: color 0.3s ease, font-size 0.3s ease;
    text-align: center;
  }
  
  .text_container > button:hover {
    font-size: 17px;
  }

  .icon-style {
    margin-left: 4px;
    vertical-align: middle;
  }
  
  /* .table_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 68%;
    border-radius: 13px;
    margin:1rem;
    padding: 10px;
    box-sizing: border-box; */
    /* border: 2px solid blue; */
  /* } */

  .skills__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem;
    /* margin: 3rem; */
    box-sizing: border-box;

    h1 {
      font-size: 24px;
    }
  }

  .skills__content {
    display: flex;
    flex-direction: row;
    margin: .5rem;
    flex-wrap: wrap;

    p{
      font-size: 1,6rem;
      border: 0.18rem solid #f09dab;
      font-weight: 600;
      color: #f09dab;
      padding: 4px;
      margin: 4px;
      border-radius: 4px;
    }
  }
  

  
  .experience_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 1rem;
    max-width: 70%;
    padding: 10px;
    box-sizing: border-box;

  }
  
  .experience_container > h1 {
    align-self: flex-start; 
    flex-wrap: wrap;
    /* margin: 8px; */
    font-size: 24px;
    font-weight: 700;
    /* border: 2px solid yellow; */
  }
  
  .experience_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    border-radius: 12px;
  }
  
  .experience_content > h4 {
    /* margin: 24px 8px; */
    font-weight: 400;
    font-size: 14px;
    min-width: 20%;
    margin-right: 24px;
    /* border: 2px solid yellow; */
    /* min-width: 25%; */
  }
  
  .experience_box {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
  }
  
  .experience_box > h4 {
    /* margin: 12px; */
    font-weight: 600;
    font-size: 16px;
  }
  
  .experience_box > p {
    /* margin: 12px; */
    font-weight: 400;
    font-size: 16px;
  }
  
  .proyects_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 73%;
    margin: 1rem;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .proyects_container > h1 {
    align-self: flex-start; /* Alinea "Skills" en la esquina superior izquierda */
    margin: 0px 8px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .proyects_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    background-color: rgb(28, 27, 27);
    padding: 12px;
    border-radius: 12px;
    align-items: center;
    /* width: 93%; */
    margin: 12px;
    /* border: 2px solid blue; */
  }
  
  .proyects_content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .proyects_content > img {
    width: 50%; /* Ajusta el ancho de la imagen según tus preferencias */
    max-width: 356px;
    max-height: 200px;
    height: 200px;
    margin-bottom: 12px;
    border-radius: 12px;
  }
  
  .proyects_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 200px;
    margin-left:24px;
  }
  
  .proyects_box > h4 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
  }
  
  .proyects_box > p {
    font-weight: 400;
    font-size: 14px;
  
  }
  
  .technologies_div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }
  
  .technologies_div > p {
    font-size: 14px;
    border: 1.8px solid #f09dab;
    color: #f09dab;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
  }
  
  @media screen and (max-width: 768px) {
    /* Reglas para dispositivos móviles */
  
    body {
      overflow-x: hidden;
    }
  
    .porfolio_container {
      flex-direction: column;
      align-items: center;
    }
  
    .aboutMe_container {
      width: 100%;
      height: auto;
      position: static;
      text-align: center;
      display:flex;
      flex-direction: center;
      align-items: center;
      /* border: 2px solid blue; */
    }
  
    .aboutMe_container > h1 {
        margin-top: 20px;
      font-size: 18px; /* Ajuste de tamaño de título */
      line-height: 26px; /* Ajuste de altura de línea */
    }
  
    .aboutMe_container > h4 {
      font-size: 14px;
      line-height: 20px;
      margin: 8px;
      text-align: center;
    }
    
    .aboutMe_container > img {
      width: 70%;
      max-width: 200px;
      height: auto;
      border-radius: 50%;
      margin: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
  
    .links_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
    }
  
    .links_container > a > img {
      width: 30px;
      margin: 0.5rem;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    }
  
    .text_container {
      margin: 1rem;
      color: aliceblue;
      padding: 10px;
      box-sizing: border-box;
      font-size: 14px;
      margin-left: 10%; /* Ajusta el margen izquierdo según tus preferencias */
      margin-right: 10%;
      margin-top: 0;
    }
  
    .text_container > button {
      padding: 0.8rem;
      font-size: 12px;
    }
 
    .proyects_container{
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid blue;
      max-width: 100%;
      margin: 0 !important;
    }
  
    .proyects_container > h1{
      font-size: 24px;
      margin-left: .5rem;
    }
    .proyects_content {
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 1rem;
      min-height: 510px;
    }
    
    .proyects_content > img{
      height: 200px;
      width: auto;
    }

    .proyects_box{
      width:100%;
    }

    .experience_container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 100% !important;
    }
  
    .experience_content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    
    }
  
    .experience_content > h4 {
      font-size: 14px;
      margin: 0px;
    }
  
    .experience_box > h4 {
      font-size: 16px;
    }
  
    .experience_container > h1{
      font-size: 24px;

    }
  
    .skills__container {
      margin: 2rem;
    }

    .skills__content > p {
      font-size: 14px;
    }
  }